#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if MATTER_ZIGBEE_ADD_ON

rsource "lib/Kconfig"


config DISABLE_DK_LEDS
	bool "Disable DK LEDs usage"
	depends on DK_LIBRARY
	help
	  Enables LEDs module to be used in the application.

endif
