# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
# Kconfig entry point for the ncs-matter-zigbee add-on module.

menuconfig MATTER_ZIGBEE_ADD_ON
	bool "Enable Matter + Zigbee add-on"
	default y
	help
	  Add-on module for combined Matter and Zigbee solutions.
